<% provide(:current, t('pages.about')) %>
<h1><%= t('pages.about') %></h1>
<div class="container">
    <hr class="game-divider">

      <div class="row-fluid">

        <div class="span7">
          <h1 class="game-heading">Guilherme Fay Vergara</h1>
          <h2 class="muted">Universidade de Brasília</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices sapien ut nulla dapibus, sit amet porta turpis faucibus. Aenean lobortis lectus nibh, a viverra metus scelerisque quis. Quisque mollis malesuada urna, id convallis ipsum bibendum ut. Donec a elit purus. Aliquam viverra arcu sit amet risus cursus aliquam. Donec quam ante, faucibus sed ipsum vel, scelerisque ornare quam. Morbi mollis ligula aliquet urna tempor porttitor. Maecenas nisl sem, pulvinar eget enim ac, ornare adipiscing mauris. Curabitur auctor hendrerit odio, non placerat quam interdum a. Vestibulum lectus augue, vulputate in molestie at, pulvinar nec neque. Sed leo augue, tincidunt at ultricies eu, dapibus ut lectus. Integer vehicula arcu sem, a tincidunt tellus porttitor pulvinar.
        </div>
        <div class="span1"></div>
        <div class="span4">
          <%=image_tag 'home_icon2.png', :class => "img-polaroid"%>
        </div>
      </div>

      <hr class="game-divider">

      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span4">
          <%=image_tag 'home_icon2.png', :class => "img-polaroid"%>
        </div>


        <div class="span7">
          <h1 class="game-heading">Gustavo Jaruga Cruz</h1>
          <h2 class="muted">Universidade de Brasília</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu porttitor arcu. Nullam tristique nibh et odio hendrerit, in semper purus sollicitudin. Fusce rhoncus elit sed sollicitudin tristique. Fusce lorem lacus, dapibus sed lorem nec, tempor fringilla nunc. Etiam sit amet dapibus turpis. Sed quis sem scelerisque, gravida urna et, sagittis dui. Nulla molestie augue pulvinar ipsum fringilla varius. Ut euismod porta rhoncus. Etiam venenatis ullamcorper eros, pellentesque tempor nisi tincidunt porttitor.
          </p>
        </div>
        
      </div>

      <hr class="game-divider">

      <div class="row fluid">

        <div class="span7">
          <h1 class="game-heading">Marcos Ronaldo Pereira Junior</h1>
          <h2 class="muted">Universidade de Brasília</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at nisi sed mi vulputate convallis. Morbi mattis ipsum odio, vitae pellentesque orci ullamcorper ac. Duis tincidunt vel est vitae fringilla. Proin eget faucibus nunc. Nulla porttitor nunc metus. Aenean a ipsum erat. Morbi varius turpis suscipit risus tincidunt, eget dignissim tortor scelerisque. Suspendisse malesuada pulvinar orci eu scelerisque. Nulla aliquet lacus laoreet quam consectetur pellentesque. Nulla at nibh elit. Maecenas gravida, neque vitae mattis vestibulum, nisl leo pellentesque nisi, ut aliquet nisi lectus at urna. Donec aliquam est vel ullamcorper laoreet. Sed dapibus, odio ac semper consectetur, ligula dolor consequat urna, vel aliquet magna quam vel eros. Aliquam erat volutpat. Maecenas eu est eget urna faucibus pretium.
          </p>
        </div>
        <div class="span1"></div>
        <div class="span4">
          <%=image_tag 'home_icon2.png', :class => "img-polaroid"%>
        </div>
      </div>

</div>
