/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 88%;
  margin-top: 5px;
  margin-left: 6%;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayMediumLight;
    /*&:first-child {
      border: 0;
      padding-top: 0;
    }*/
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  input {
    border-color: rgba(255, 0, 0, 0.8);
  }
  input:focus {
    border-color: rgba(0, 0, 0, 0.8);
  }
}

/* New Header */
.navbar-wrapper {
    margin-top: 20px;
}     
  /* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar-inner {
  border-radius: 4px;
}
  
.navbar .navbar-inner {
  .nav {
    padding-top: 1px;

    li.active > a,
    li.active > a:hover,
    li.active > a:focus{
      color: #555555;
      background-color: darkgrey;  
      color: black;
      height: auto;
    }
  } 
}


#logo {
  float: left;
  margin-right: 10px;
  color: #eee;
  
  
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* universal */
html {
  overflow-y: scroll;
}

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center h1 {
  margin-bottom: 10px;
}

.text-file {
  padding-left: 5px;
  background-color: #bbb;
}

.text-tuto {
  line-height: 2;
  margin: 5px auto 40px auto;
  padding-left: 5px;
  background-color: #fafafa;
  border: thin solid #121245;
}
.text-note {
  line-height: 2;
  margin: 0px auto 40px auto;
  width: 80%;
  border: thin solid #121245;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.caption-slider  {
  color: white;
  font-size: 1.8em;
  margin-bottom: 0px;
  margin-top: 0px;
}
.text-slider {
  color: lightgrey;
  font-size: 1.0em;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
    font-size: 1em;
    margin-top: 0px;
    text-align: center;
}
/* Thin out the marketing headings */

h5 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* games
------------------------- */

.lead {
  text-align:justify;
  text-justify:inter-word;
}

.game-divider {
  margin-top: 60px;
  margin-bottom: 60px;
}

.name-heading {
  font-size: 1.5em;
  margin-bottom: 0px;
  letter-spacing: 0px;

}
.game-heading {
  margin-bottom: 0px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: -65px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner { text-align: center; }

.carousel .item > img {  }
.carousel-inner > .item > img {
  display: inline-block;
  position: relative; 
  
  height: 332px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {


  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}





/* header */








/* Navbar height
$navbarHeight: 35px;
.navbar .nav
{
    height: 35px;
}

.navbar .nav > li > a
{
    padding: ($navbarHeight -20)/2 10px (($navbarHeight - 20)/2 + 1);
}

.navbar .brand
{
    padding: 0px;   
}

*/
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}
