<div class="container">
  <footer class="footer">
    <small>
      &copy; BillionBits 2014
    </small>

    <nav>
      <ul>
        <li>
          <%= link_to t('pages.about'), about_path %></li>
        <li>
          <%= link_to t('pages.contact'), contact_path %></li>
        <li>  
          <%= link_to t('pages.home'), home_path %></li>
      </ul>

  </footer>
</div>